
.contact {
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(128, 128, 128, 0.192),rgba(128, 128, 128, 0.308)),
      url("https://images.unsplash.com/photo-1499159058454-75067059248a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80");
    background-size: cover;
  }
  
  .contact-wrapper{
    padding: 50px 20%;
    background-color: rgba(0, 0, 0, 0.384);
  }
  
  .contact-title {
    font-family: 'Poppins';
    font-size: 50px;
    color: #fae1df;
  
    margin-left: 20px;
    text-align: center;
  }

  .contact p{
      font-family: 'Poppins';
      font-size: 15px;
      color: #e4c3ad;
      margin: 20px 0;
  }

  .contact-icons{
      font-size: 25px;
      justify-content: space-around;
      color: #fae1df;
  }

  .c-icon{
      margin: 20px 40px 0 30px;
  }
  

  

  
  